<% @title = "アカウント情報編集" %>

<div class="row justify-content-center my-5">
  <div class="col-8">
    <div class="card">
      <h4 class="card-header">
        アカウント情報編集
      </h4>
      <div class="card-body">
        <%= form_with model: @teacher_member, url: :teacher_account do |f| %>
          <%= render "form", f: f %>
          <div class="mt-4">
          　<%= f.submit "更新", class: "btn btn-outline-secondary btn-block mx-auto"%>
            <%= link_to "キャンセル" , :teacher_account, class: "btn btn-outline-secondary btn-block col-3 my-3 mx-auto" %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
