<header>
  <span class="logo-mark">metista</span>
  <%= 
    if current_student_member
      link_to "ログアウト", :student_session, method: :delete
    else
      link_to "ログイン", :student_login
    end
  %>
</header>