<footer class="fixed-bottom border-top">
  <div class="row justify-content-center">
      <%= link_to :student_questions, class: "bottom-nav-icon fa-layers fa-fw col-3" do %>
          <i class="fas fa-question fa-2x"></i>
          <span class="fa-layers-text" data-fa-transform="shrink-8 down-3">質問する</span>
      <% end %>
      <%= link_to :student_questions, class: "bottom-nav-icon fa-layers fa-fw col-3" do %>
          <i class="fa fa-book fa-2x" aria-hidden="true"></i>
          <span class="fa-layers-text" data-fa-transform="bottom-nav-icon shrink-8 down-3">過去の質問</span>
      <% end %>
      <%= link_to :student_questions, class: "bottom-nav-icon fa-layers fa-fw col-3" do %>
          <i class="fas fa-chalkboard-teacher fa-2x"></i>
          <span class="fa-layers-text" data-fa-transform="shrink-8 down-3">掲示板</span>
      <% end %>
      <%= link_to :student_questions, class: "bottom-nav-icon fa-layers fa-fw col-3" do %>
          <i class="fas fa-user fa-2x"></i>
          <span class="fa-layers-text" data-fa-transform="shrink-8 down-3">アカウント</span>
      <% end %>
  </div>
</footer>