<div class="pb-5">
  <h2 class="text-center"><%= @book.book_name %>の質問一覧</h2>
  <% if @question.blank? %>
    <h3 class="my-3 text-center">過去の質問はありません。</h3>
  <% else %>
    <%= render partial: "question", collection: @question %>
  <% end %>
</div>