<% p2 = AddressPresenter.new(@student_member.home_address, self)  %>

<tr>
  <th scope="row"><h4>住所情報</h4></th>
</tr>
<tr>
  <th scope="row">郵便番号</th>
  <td><%= p2.postal_code %></td>
</tr>
<tr>
  <th scope="row">市区町村</th>
  <td><%= p2.city %></td>
</tr>
<tr>
  <th scope="row">番地</th>
  <td><%= p2.address1 %></td>
</tr>
<tr>
  <th scope="row">建物、部屋番号等</th>
  <td><%= p2.address2 %></td>
</tr>
<tr>
  <th scope="row"></th>
</tr>