@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP&family=Orbitron:wght@800&display=swap');

* {
  font-family: 'Noto Sans JP', sans-serif;
}

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  background-color: #F4F5F7;
  color: #333333;
}
.header {
  a,
  a:visited,
  a:hover,
  a:active {
    color: #F4F5F7;
  }
  .dropdown-item {
    color: #333333 !important;
  }
  .account_icon {
    color: #F4F5F7 !important;
    font-size: 2rem;
  }
  .board_icon {
    color: #F4F5F7 !important;
    font-size: 2rem;
  }
  .header-flash {
    color: #F4F5F7 !important;
  }
  .dropdown-toggle{
    color: #F4F5F7;
    padding-right: 0.5rem;
  }
}

.logo {
  font-family: 'Orbitron', sans-serif;
}
#container {
  padding-top: 50px;
  .login-form {
    padding-top: 0.5rem;
    margin-top: 8rem;
    input {
      margin-bottom: 1rem;
    }
  }
}
div#wrapper {
  padding-top: 20px;
}
.side-nav {
  height: 100vh;
}
.content{
  height: 100vh;
}
.fa:before{
  display: inline-block;
  text-decoration: none;
}
a {
	display: inline-block;
	text-decoration: none;
  color: #333333;
}
.pagination {
  justify-content: center;
}
.pagination>li>a {          
  border: none;     /*枠線をなくす*/
  color: #696969;   /*文字の色を変える*/
}

/* 表示しているページ番号のデザイン */
.pagination>.active>a {     
  background: #4E7199 !important;     /*背景の色を変える*/
  border-radius: 15px;     /*角を丸くする*/
}

/*ホバー時のデザイン*/
.pagination>li>a:hover {        
  border-radius: 15px;    /*角を丸くする*/
}
.btn-block {
  display: block;
}
.new_board_message {
  .btn {
    margin-bottom: 1rem;
  }
}