@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP&family=Orbitron:wght@800&display=swap');

* {
  font-family: 'Noto Sans JP', sans-serif;
}

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  background-color: #F4F5F7;
  color: #333333;
}
.header {
  a,
  a:visited,
  a:hover,
  a:active {
    color: #F4F5F7;
  }
  .dropdown-item {
    color: #333333 !important;
  }
}

.logo {
  font-family: 'Orbitron', sans-serif;
}
.account_icon {
  color: #F4F5F7 !important;
  font-size: 2rem;
}
.header-flash {
  color: #F4F5F7 !important;
}
.dropdown-toggle{
  color: #F4F5F7;
  padding-right: 0.5rem;
}
#container {
  padding-top: 50px;
  .login-form {
    padding-top: 0.5rem;
    margin-top: 8rem;
    // .btn {
    //   margin-top: 1rem;
    // }
  }
}
div#wrapper {
  padding-top: 20px;
}

input {
  margin-bottom: 1rem;
}