<% p = ConfirmingFormPresenter.new(f, self)  %>

<div class="pb-3">
  <h5>タイトル</h5>
  <%= p.text_field_block(:title, "タイトル") %>
</div>
<div class="pb-3">
  <h5>質問内容</h5>
  <%= p.text_area_block(:body, "質問内容") %>
</div>