@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP&family=Orbitron:wght@800&display=swap');

* {
  font-family: 'Noto Sans JP', sans-serif;
}

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  background-color: #F4F5F7;
  color: #333333;
}
div#wrapper {
  padding-top: 20px;
  padding-bottom: 40px;
  position: relative;
  box-sizing: border-box;
  min-height: 100%;
  margin: 0 auto;
}
div#container {
  padding-top: 50px;
  .login-form {
    padding-top: 0.5rem;
    margin-top: 8rem;
    }
  input {
    margin-bottom: 1rem;
    }
  .logo {
    color:#696969;
  }
}
.header {
  .logo {
    font-family: 'Orbitron', sans-serif;
    color: #F4F5F7 !important;
  }
}
.header { 
  opacity: 0.7;
  background-color: #318dee;
}
#nav-footer {
  background-color: #F6F6F6;
  color: #5d5d5d;
  height: 58px;
}
footer {
  position: absolute;
  left: 0;
  bottom: 0;
  height: 50px;
  width: 100%;
  margin-top: 5rem;
  background-color: #318dee;
}
.fa-layers-text {
  font-size: 1.2rem;
  margin-top: 20px;
}
.bottom-nav-icon {
  margin-top: 1em;
  color: #5d5d5d;
  font-weight: 900;
  white-space: nowrap;
}
a {
	display: inline-block;
	text-decoration: none;
  color: #333333;
}