<h4 class="text-center">お知らせ新着一覧(最新5件)</h4>

<div class="row justify-content-center">

  <%= render partial: "board_message", collection: @board_messages %>

  <h5 class="text-center"><%= link_to "過去のお知らせ一覧" , :teacher_board_messages %></h5>
</div>