<nav class="navbar navbar-expand-lg navbar-dark fixed-top" style="background-color:#4E7199">

  <%= link_to "Metista", :teacher_root, class: "logo nav-link navbar-brand" %>

  <%= content_tag(:span, flash.notice) if flash.notice %>
  
  <%= link_to "アカウント", :teacher_account ,class: "nav-link navbar-text text-light " if current_teacher_member %>

  <%= 
    if current_teacher_member
      link_to "ログアウト", :teacher_session, method: :delete, class: "nav-link text-light ms-auto"
    else
      link_to "ログイン", :teacher_login , class: "nav-link text-light ms-auto"
    end
  %>
</nav>