<header>
  <span class="logo-mark">metista</span>
  <%= 
    if current_teacher_member
      link_to "ログアウト", :teacher_session, method: :delete
    else
      link_to "ログイン", :teacher_login
    end
  %>
  <%= link_to "アカウント", :teacher_account if current_teacher_member %>
</header>