<fieldset id="student-fields">
<h3>基本情報入力</h3>
<%= render "student_fields", f: f %>
</fieldset>

<fieldset id="home-address-fields">
<h3>生徒住所入力</h3>
<%= render "home_address_fields", f: f %>
</fieldset>

<fieldset id="parents-address-fields">
<h3>実家住所入力</h3>
<%= render "parents_address_fields", f: f %>
</fieldset>