<% @title = "生徒詳細情報"  %>

<div class="row justify-content-center my-5">
  <div class="col-8">
    <div class="card">
      <h4 class="card-header">
        アカウント情報
      </h4>
      <div class="card-body">
        <table class="table table-borderless">
          <thead>
            <th scope="col-1"><h4>基本情報</h4></th>
          </thead>
          <tbody>
            <%= render "student_information" %>
            <%= render "student_home_address" if @student_member.home_address %>
            <%= render "student_parents_address" if @student_member.parents_address %>
          </tbody>
        </table>
        <div class="text-center">
          <% unless @student_member.suspended %>
            <p>このアカウントは有効です。</p>
          <% else %>
            <p>このアカウントは停止されています。</p>
          <% end %>
          <h5><%= link_to "情報を編集するにはこちら", [ :edit, :teacher, :student_member ] %></h5>
        </div>
      </div>
    </div>
  </div>
</div>
